<%= form_with(model: cohort, local: true) do |form| %>
  <% if cohort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cohort.errors.count, "error") %> prohibited this cohort from being saved:</h2>

      <ul>
      <% cohort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.date_select :start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.date_select :end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

  <%= form_for @cohort_instructor do |f| %>
    <%= f.collection_select(:instructor_id, Instructor.all, :id, :first_name) %>
    <%= f.submit "Change or Add Instructor" %>
<% end %>

<%= form_for @cohort_student do |f| %>
  <%= f.collection_select(:student_id, Student.all, :id, :first_name) %>
  <%= f.hidden_field(:cohort_id, value: "#{@cohort.id}") %>
  <%= f.submit "Add Student" %>
<% end %>

<%= form_for @cohort_student_remove, method: :destroy do |f| %>
  <%= f.collection_select(:student_id, CohortStudent.find(params[:id]).cohort.students, :id, :first_name) %>
  <%= f.hidden_field(:cohort_id, value: "#{@cohort.id}") %>
  <%= f.submit "Remove Student", data: {confirm: "Are you sure?"} %>
<% end %>

