<h1>Editing Cohort</h1>

<% content_for :edit do %>
  <% if @cohort_student_remove %>
    <%= form_for @cohort_student_remove, method: :delete do |f| %>
      <%= f.collection_select(:student_id, CohortStudent.find_by(cohort_id: params[:id]).cohort.students, :id, :full_name) %>
      <%= f.hidden_field(:cohort_id, value: "#{@cohort.id}") %>
      <%= f.submit "Remove Student", data: { confirm: "Are you sure?" } %>
    <% end %>
  <% end %>
  
  <%= form_for @cohort_instructor do |f| %>
    <%= f.collection_select(:instructor_id, Instructor.all, :id, :full_name) %>
    <%= f.submit "Change or Add Instructor" %>
  <% end %>

  <%= form_for @cohort_student, method: :create do |f| %>
    <%= f.collection_select(:student_id, Student.all, :id, :full_name) %>
    <%= f.hidden_field(:cohort_id, value: "#{@cohort.id}") %>
    <%= f.submit "Add Student", data: { confirm: "Add student?" } %>
  <% end %>

<% end %>

<%= render 'form', cohort: @cohort %>

<%= link_to 'Show', @cohort %> |
<%= link_to 'Back', cohorts_path %>
