<br />
<h1 style="display: inline-block;">Cohorts</h1>
<%= link_to 'New Cohort', new_cohort_path %>
<br />
  <%= will_paginate @cohorts_list %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Course</th>
      <th>Instructor</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th colspan="3">Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts_list.each do |cohort| %>
      <tr>
        <td><%= cohort.name %></td>
        <td><%= cohort.course.name %></td>
        <% if cohort.instructor %>
          <td><%= cohort.instructor.full_name %></td>
        <% else %>
          <td>No Instructor Assigned</td>
        <% end %>
        <td><%= cohort.start %></td>
        <td><%= cohort.end %></td>
        <td><%= link_to 'Show', cohort %></td>
        <td><%= link_to 'Edit', edit_cohort_path(cohort) %></td>
        <td><%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @cohorts_list %>