<br />
  <h1>
    <%= @cohort.name %>
  </h1>
<br />
  <hr>

  <h3>Start:</h3>
  <%= @cohort.start %>

  <h3>End:</h3>
  <%= @cohort.end %>

  <h3>Students:</h3>
  <% @cohort.students.uniq.each do | student | %>
  <%= "#{student.first_name} #{student.last_name}"%><br />
  <% end %>
<br />

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
