<%= form_with(model: student, local: true) do |form| %>
  <div class="field">
    <%= form.label : %>
    <%= form.text_field : %>
  </div>

  <div class="field">
    <%= form.label : %>
    <%= form.text_field : %>
  </div>

  <div class="field">
    <%= form.label : %>
    <%= form.text_field : %>
  </div>

  <div class="field">
    <%= form.label : %>
    <%= form.text_field : %>
  </div>

  <div class="field">
    <%= form.label : %>
    <%= form.text_field : %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
