<br /><h1><%= @student.full_name %></h1><br /><hr><br />

<h3><%="#{@student.first_name} currently attends the following courses: "%></h3>
    <% @student.cohorts.each do |cohort| %>
        <%= link_to "#{cohort.name}", edit_cohort_path(cohort)%><br />
    <% end %>
  <br />
<h3><%="#{@student.first_name} is taught by: "%></h3>
    <% @student.instructors.uniq.each do |instructor| %>
        <%= link_to "#{instructor.full_name}", edit_instructor_path(instructor)%><br />
    <% end %>
    <br />
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', student_path %>
