<br /><h1><%= @instructor.full_name %></h1>
<br />
<hr>
<br />

<h3><%="#{@instructor.first_name} currently teaches the following courses: "%></h3>
    <% @instructor.cohorts.each do |cohort| %>
        <%= link_to "#{cohort.name}", edit_cohort_path(cohort)%><br />
    <% end %>
  <br />
<h3><%="#{@instructor.first_name} currently teaches the following students: "%></h3>
    <% @instructor.students.each do |student| %>
        <%= link_to "#{student.full_name}", edit_student_path(student)%><br />
    <% end %>
    <br />
<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
