<br />
<h1>
  <%= @course.name %>
</h1>
<br />
<hr>
<br />

<h3>Hours:</h3>
<%= @course.hours %><br />

<h3>Students taking subject:</h3>
<% @course.students.uniq.each do |student| %>
  <%= link_to "#{student.full_name}", student_path(student)%><br/>
<% end %>

<h3>Instructors teaching subject:</h3>
<% @course.instructors.uniq.each do |instructor| %>
  <%= link_to "#{instructor.full_name}", instructor_path(instructor)%><br/>
<% end %>
<br />

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
