<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @course.string %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @course.integer %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
